.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 100px 0 0 0;
  }
  
  .example-full-width {
    width: 100%;
  }

  .wrapper {
      width: 1140px;
      margin: auto;
      display: flex;
      justify-content: center;
  }

  .example-card {
    width: 200px;
  }
  .users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .user {
    margin: 20px 0 20px 0;
  }