<div class="container">
  <div class="wrapper">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>User login</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="User login"
               matInput
               [formControl]="myControl">
      </mat-form-field>
    </form>
  </div>
</div>
<div class="container">
  <div class="wrapper users">
    <mat-spinner *ngIf="spinner"></mat-spinner>
    <div class="" *ngFor="let user of users">
      <div class="user">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{user.login}}</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{user.avatar_url}}" alt="Photo of a Shiba Inu">
          <mat-card-actions>
            <a target="_blank" href="{{user.html_url}}"><button mat-button>Open Github</button></a>
          </mat-card-actions>
        </mat-card>      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>